<section class="footer" style="background-image: url(~/images/footer-bg.png)">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="mb-5">
					<img src="~/images/logo-light.png" alt="" class="" height="24"><p class="text-white-50 my-4 font-size-15">لورم پیسوم متن است چاپگرها در موتون блика روزنا</p>
					<ul class="list-inline footer-social-icon-content">
						<li class="list-inline-item me-4"><a href="#" class="footer-social-icon facebook"><i class="" data-feather="facebook"></i></a></li>
						<li class="list-inline-item me-4"><a href="#" class="footer-social-icon"><i class="" data-feather="twitter"></i></a></li>
						<li class="list-inline-item me-4"><a href="#" class="footer-social-icon"><i class="" data-feather="instagram"></i></a></li>
						<li class="list-inline-item "><a href="#" class="footer-social-icon"><i class="" data-feather="linkedin"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-7 offset-lg-1">
				<div class="row">
					<div class="col-md-4">
						<h6 class="text-white text-uppercase mb-3">درباره ما</h6>
						<ul class="list-unstyled footer-sub-menu">
							<li><a href="#" class="footer-link">آثار</a></li>
							<li><a href="#" class="footer-link">استراتژی</a></li>
							<li><a href="#" class="footer-link">منتشر شده</a></li>
							<li><a href="#" class="footer-link">مطبوعات</a></li>
							<li><a href="#" class="footer-link">ماموریت</a></li>
						</ul>
					</div>
					<div class="col-md-4">
						<h6 class="text-white text-uppercase mb-3">مشتریان</h6>
						<ul class="list-unstyled footer-sub-menu">
							<li><a href="#" class="footer-link">تجارت</a></li>
							<li><a href="#" class="footer-link">محبوب</a></li>
							<li><a href="#" class="footer-link">مشتریان</a></li>
							<li><a href="#" class="footer-link">امکانات</a></li>
						</ul>
					</div>
					<div class="col-md-4">
						<h6 class="text-white text-uppercase mb-3">حمایت کردن</h6>
						<ul class="list-unstyled footer-sub-menu">
							<li><a href="#" class="footer-link">توسعه دهندگان</a></li>
							<li><a href="#" class="footer-link">حمایت کردن</a></li>
							<li><a href="#" class="footer-link">خدمات مشتری</a></li>
							<li><a href="#" class="footer-link">شروع کنید</a></li>
							<li><a href="#" class="footer-link">راهنما</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="footer-alt py-3"><div class="container"><div class="row"><div class="col-lg-12"><div class="text-center"><p class="text-white-50 font-size-15 mb-0"><script>document.write(new Date().getFullYear())</script>© Lezir. Design By <a href="https://www.mellatweb.com">Mellatweb</a></p></div></div></div></div></div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content login-page">
			<div class="modal-body">
			</div>
		</div>
	</div>
</div>
