<a href="javascript:%20void(0);" id="light-dark-mode" class="mode-btn text-white rounded-end"><i class="mdi mdi-sun-compass bx-spin mode-light"></i><i class="mdi mdi-moon-waning-crescent mode-dark"></i></a>
<div id="preloader"><div id="status"><div class="spinner"></div></div></div>
<nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark" id="navbar">
	<div class="container">
		<a class="navbar-brand logo" asp-controller="Home" asp-action="Index"><img src="~/images/logo-dark.png" alt="" class="logo-dark" height="24"><img src="~/images/logo-light.png" alt="" class="logo-light" height="24"></a><button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><i class="mdi mdi-menu"></i></button><div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mx-auto navbar-center" id="navbar-navlist">
				<li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link">صفحه اصلی</a></li>
				<li class="nav-item"><a asp-controller="Home" asp-action="Features" class="nav-link">امکانات</a></li>
				<li class="nav-item"><a asp-controller="Home" asp-action="Pricing" class="nav-link">قیمت گذاری</a></li>
				<li class="nav-item"><a asp-controller="Home" asp-action="Blog" class="nav-link">وبلاگ</a></li>
				<li class="nav-item"><a asp-controller="Home" asp-action="Contact" class="nav-link">با ما تماس بگیرید</a></li>
			</ul>
			<ul class="navbar-nav navbar-center">
				<li class="nav-item"><a asp-controller="Account" asp-action="" class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">وارد شدن</a></li>
				<li class="nav-item"><a asp-controller="Account" asp-action="" class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModalCenter-1">ثبت نام</a></li>
			</ul>
		</div>
	</div>
</nav>