<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
	<title></title>
	<partial name="_MetaTags" />
	<partial name="_Styles" />
</head>
<body>
	<partial name="_Header" />
	@RenderBody()
	<partial name="_Footer" />
	
	<script src="~/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/smooth-scroll.polyfills.min.js"></script>
	<script src="~/js/gumshoe.polyfills.min.js"></script>
	<script src="~/js/feather.js"></script>
	<script src="~/js/unicons.js"></script>
	<script src="~/js/app.js"></script>
</body>
</html>
