<div class="position-relative text-center mt-4">
	<span class="login-border"></span><p class="social-login text-muted font-size-17">ورود به سیستم اجتماعی</p>
</div>
<div class="text-center">
	<ul class="list-inline mt-2 mb-3">
		<li class="list-inline-item me-3"><a href="#" class="login-social-icon icon-primary"><i class="icon-xs" data-feather="facebook"></i></a></li>
		<li class="list-inline-item me-3"><a href="#" class="login-social-icon icon-info"><i class="icon-xs" data-feather="twitter"></i></a></li>
		<li class="list-inline-item me-3"><a href="#" class="login-social-icon icon-danger"><i class="icon-xs" data-feather="instagram"></i></a></li>
		<li class="list-inline-item"><a href="#" class="login-social-icon icon-success"><i class="icon-xs" data-feather="linkedin"></i></a></li>
	</ul>
</div>