@model Lans.DataLayer.Entities.User.User

<link rel="stylesheet" href="/css/CustomStyle.css" />
<div class="card d-flex align-items-center justify-content-center mt-4">
	<div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
		<i class="checkmark">✓</i>
	</div>
	<h1>ثبت نام موفقیت آمیز</h1>
	<p>@Model.UserName عزیز! ثبت نام شما با موفقیت انجام شد.<br /> به ایمیل @Model.Email لینک فعالسازی حساب شما ارسال شد. لطفا به ایمیل خود رجوع کرده و لینک فعالسازی را کلیک کنید.</p>
</div>
