<section class="section blog" id="blog">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<div class="text-center mb-5">
					<h3 class="title mb-3">آخرین خبرها</h3>
					<p class="text-muted font-size-15">و در واقع تمایز این چیزها آسان و مصلحت است، زیرا زمانی که ما وقت آزاد داریم، انتخاب می کنیم که چه چیزی را انتخاب کنیم.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="blog-box mb-4 mb-lg-0">
					<img src="~/images/blog/img-1.jpg" alt="" class="img-fluid d-block mx-auto rounded"><ul class="list-inline text-muted text-uppercase font-size-15 font-weight-medium mt-3 mb-2">
						<li class="list-inline-item me-3">
							<i class="icon-size-15 icon me-1" data-feather="calendar"></i>10 آوریل 2020
						</li>
						<li class="list-inline-item">
							<i class="icon-size-15 icon me-1" data-feather="user"></i>مدیر
						</li>
					</ul>
					<a href="#" class="fw-bold h5">بهترین مکان برای سفر</a><p class="text-muted font-size-15">لورم اسپیروم تنزل ساکتگی با تورید با تعریف سرامی ناکموس از</p>
					<a href="#" class="text-primary font-weight-semibold">بیشتر بدانید<span class="ms-2 right-icon">→</span></a>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="blog-box blog-box mb-4 mb-lg-0">
					<img src="~/images/blog/img-2.jpg" alt="" class="img-fluid d-block mx-auto rounded"><ul class="list-inline text-muted text-uppercase font-size-15 font-weight-medium mt-3 mb-2">
						<li class="list-inline-item me-3">
							<i class="icon-size-15 icon me-1" data-feather="calendar"></i>11 آوریل 2020
						</li>
						<li class="list-inline-item">
							<i class="icon-size-15 icon me-1" data-feather="user"></i>مدیر
						</li>
					</ul>
					<a href="#" class="fw-bold h5">اتاق جلسه خصوصی</a><p class="text-muted font-size-15">لورم اسپیروم تنزل ساکتگی با تورید با تعریف سرامی ناکموس از</p>
					<a href="#" class="text-primary font-weight-semibold">بیشتر بدانید<span class="ms-2 right-icon">→</span></a>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="blog-box blog-box mb-4 mb-lg-0">
					<img src="~/images/blog/img-3.jpg" alt="" class="img-fluid d-block mx-auto rounded"><ul class="list-inline text-muted text-uppercase font-size-15 font-weight-medium mt-3 mb-2">
						<li class="list-inline-item me-3">
							<i class="icon-size-15 icon me-1" data-feather="calendar"></i>12 آوریل 2020
						</li>
						<li class="list-inline-item">
							<i class="icon-size-15 icon me-1" data-feather="user"></i>مدیر
						</li>
					</ul>
					<a href="#" class="fw-bold h5">بهترین ایده های تجاری</a><p class="text-muted font-size-15">لورم اسپیروم تنزل ساکتگی با تورید با تعریف سرامی ناکموس از</p>
					<a href="#" class="text-primary font-weight-semibold">بیشتر بدانید<span class="ms-2 right-icon">→</span></a>
				</div>
			</div>
		</div>
	</div>
</section>