<section class="hero-1-bg" style="background-image: url(~/images/hero-1-bg-img.png)" id="home">
	<div class="container">
		<div class="row align-items-center justify-content-center">
			<div class="col-lg-6">
				<h1 class="hero-1-title fw-bold text-shadow mb-4">صفحه فرود خلاقانه</h1>
				<div class="w-75 mb-5 mb-lg-0">
					<p class="text-muted mb-5 pb-5 font-size-17">صفحه فرود خلاقانه و مدرن با الگوی Lezir و ما عاشق ساختن چیزهای شگفت انگیز هستیم.</p>
					<p><span class="font-size-20 me-2">🥳️</span>زیرا هیچ کس خود لذت را رد نمی کند، زیرا این لذت است که فرار می کند.</p>
					<div class="subscribe-form">
						<form action="#">
							<input type="text" placeholder="ایمیل را وارد کنید..."><button type="submit" class="btn btn-primary">اشتراک در</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-10"><div class=" mt-5 mt-lg-0"><img src="~/images/hero-1-img.png" alt="" class="img-fluid d-block mx-auto"></div></div>
		</div>
	</div>
</section>
<section class="section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-4 align-self-center">
				<div class="mb-4 mb-lg-0">
					<div class="p-2 bg-soft-primary d-inline-block rounded mb-4"><div class="icon-xxl uim-icon-primary"><i class="uim uim-cube"></i></div></div>
					<h3 class="">چرا ما را انتخاب کنید؟</h3>
					<p class="text-muted mb-4">زیرا در اوقات فراغت، زمانی که آزاد هستیم، این اختیار را داریم که هیچ چیزی را انتخاب نکنیم و مانع آن شویم، که کمترین آن بیشترین است.</p>
					<a href="#" class="btn btn-outline-primary">بیشتر بدانید</a>
				</div>
			</div>
			<div class="col-lg-8 align-self-center">
				<div class="row">
					<div class="col-md-6">
						<div class="wc-box rounded text-center wc-box-primary p-4 mt-md-5">
							<div class="wc-box-icon"><i class="mdi mdi-collage"></i></div>
							<h5 class="fw-bold mb-2 wc-title mt-4">آسان برای استفاده</h5>
							<p class="text-muted mb-0 font-size-15 wc-subtitle">لورم اسپیروم تنزل ساکتگی با تورید با تعریف سرامی ناکموس از</p>
						</div>
						<div class="wc-box rounded text-center wc-box-primary p-4">
							<div class="wc-box-icon"><i class="mdi mdi-trending-up"></i></div>
							<h5 class="fw-bold mb-2 wc-title mt-4">درآمد خود را افزایش دهید</h5>
							<p class="text-muted mb-0 font-size-15 wc-subtitle">لورم اسپیروم تنزل ساکتگی با تورید با تعریف سرامی ناکموس از</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="wc-box rounded text-center wc-box-primary p-4">
							<div class="wc-box-icon"><i class="mdi mdi-security"></i></div>
							<h5 class="fw-bold mb-2 wc-title mt-4">امنیت تجزیه و تحلیل</h5>
							<p class="text-muted mb-0 font-size-15 wc-subtitle">لورم اسپیروم تنزل ساکتگی با تورید با تعریف سرامی ناکموس از</p>
						</div>
						<div class="wc-box rounded text-center wc-box-primary p-4">
							<div class="wc-box-icon"><i class="mdi mdi-database-lock"></i></div>
							<h5 class="fw-bold mb-2 wc-title mt-4">حریم خصوصی داده ها</h5>
							<p class="text-muted mb-0 font-size-15 wc-subtitle">لورم اسپیروم تنزل ساکتگی با تورید با تعریف سرامی ناکموس از</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section feather-bg-img" style="background-image: url(~/images/features-bg-img-1.png)">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-5 align-self-center">
				<p class="font-weight-medium text-uppercase mb-2"><i class="mdi mdi-chart-bubble h2 text-primary me-1 align-middle"></i>ویژگی های خلاقانه</p>
				<h3 class="font-weight-semibold line-height-1_4 mb-4">ما کار را برای شما انجام میدهیم<b> متمرکز بمان </b> در <b> در کسب و کارتان </b>.</h3>
				<p class="text-muted font-size-15 mb-4">اما در مواقعی، چه به دلیل تکالیف و چه از جهت ضروریات، غالباً این اتفاق می افتد که لذات طرد شده، از این رو، گرفتاری های قابل امتناع نیست.</p>
				<p class="text-muted mb-2"><i class="icon-xs me-1" data-feather="server"></i>لورم پیسوم متن ساکتگی ب تویدید ساد</p>
				<p class="text-muted"><i class="icon-xs me-1" data-feather="rss"></i>لورم اسپیروم تنزل ساکتگی با تورید با تعریف سرامی ناکموس از</p>
				<div class="mt-5">
					<a href="#" class="btn btn-primary me-2">ادامه مطلب</a><a href="#" class="btn btn-soft-primary">هم اکنون خریداری کنید</a>
				</div>
			</div>
			<div class="col-lg-6 offset-lg-1 align-self-center"><div class="mt-4 mt-lg-0"><img src="~/images/features-img-1.png" alt="" class="img-fluid d-block mx-auto"></div></div>
		</div>
	</div>
</section>