<section class="section bg-light feather-bg-img" style="background-image: url(~/images/features-bg-img.png);" id="features">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<div class="text-center mb-5">
					<h3 class="title mb-3">ویژگی های عالی</h3>
					<p class="text-muted font-size-15">و در واقع تمایز این چیزها آسان و مصلحت است، زیرا زمانی که ما وقت آزاد داریم، انتخاب می کنیم که چه چیزی را انتخاب کنیم.</p>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-6 align-self-center"><div class="mb-4 mb-lg-0"><img src="~/images/features-img.png" alt="" class="img-fluid d-block mx-auto"></div></div>
			<div class="col-lg-5 offset-lg-1 align-self-center">
				<p class="font-weight-medium text-uppercase mb-2"><i class="mdi mdi-chart-bubble h2 text-primary me-1 align-middle"></i>ویژگی های خلاقانه</p>
				<h3 class="font-weight-semibold line-height-1_4 mb-4">
					ساختن<b> جامعه </b>&<b> کاری خوب </b>تخصص اصلی ما <b> در توسعه کسب و کار شماست</b>
				</h3>
				<p class="text-muted font-size-15 mb-4">اما در مواقعی، چه به دلیل تکالیف و چه از جهت ضروریات، غالباً این اتفاق می افتد که لذات طرد شده، از این رو، گرفتاری های قابل امتناع نیست.</p>
				<p class="text-muted mb-2"><i class="icon-xs me-1" data-feather="layout"></i>لورم پیسوم متن ساکتگی ب تویدید ساد</p>
				<p class="text-muted"><i class="icon-xs me-1" data-feather="life-buoy"></i>لورم اسپیروم تنزل ساکتگی با تورید با تعریف سرامی ناکموس از</p>
				<div class="mt-5">
					<a href="#" class="btn btn-primary me-2">ادامه مطلب</a><a href="#" class="btn btn-soft-primary">هم اکنون خریداری کنید</a>
				</div>
			</div>
		</div>
	</div>
</section>
