<!DOCTYPE html>
<html dir="rtl" lang="fa">
<!---design By Mellatweb.com-->
<head>
	<meta charset="utf-8">
	<title>Lezir - الگوی صفحه فرود Bootstrap 5.3 پاسخگو</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Premium Bootstrap 4 Landing Page Template">
	<meta name="keywords" content="bootstrap 4, premium, marketing, multipurpose">
	<meta content="mellatweb.com" name="author">
	<link rel="shortcut icon" href="~/images/favicon.ico">
	<link href="~/css/bootstrap.rtl.min.css" rel="stylesheet" type="text/css">
	<link href="~/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
	<link href="~/css/style.min.css" rel="stylesheet" type="text/css">
</head>
<body>
	<a href="javascript:%20void(0);" id="light-dark-mode" class="mode-btn text-white rounded-end"><i class="mdi mdi-sun-compass bx-spin mode-light"></i><i class="mdi mdi-moon-waning-crescent mode-dark"></i></a>
	<div id="preloader"><div id="status"><div class="spinner"></div></div></div>
	<nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark" id="navbar">
		<div class="container">
			<a class="navbar-brand logo" href="layout-one-1.html"><img src="~/images/logo-dark.png" alt="" class="logo-dark" height="24"><img src="~/images/logo-light.png" alt="" class="logo-light" height="24"></a><button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><i class="mdi mdi-menu"></i></button><div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mx-auto navbar-center" id="navbar-navlist">
					<li class="nav-item"><a data-scroll href="#home" class="nav-link">صفحه اصلی</a></li>
					<li class="nav-item"><a data-scroll href="#features" class="nav-link">امکانات</a></li>
					<li class="nav-item"><a data-scroll href="#pricing" class="nav-link">قیمت گذاری</a></li>
					<li class="nav-item"><a data-scroll href="#blog" class="nav-link">وبلاگ</a></li>
					<li class="nav-item"><a data-scroll href="#contact" class="nav-link">با ما تماس بگیرید</a></li>
				</ul>
				<ul class="navbar-nav navbar-center">
					<li class="nav-item"><a href="#login" class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">وارد شدن</a></li>
					<li class="nav-item"><a href="#login" class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModalCenter-1">ثبت نام</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<section class="hero-1-bg" style="background-image: url(~/images/hero-1-bg-img.png)" id="home">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-lg-6">
					<h1 class="hero-1-title fw-bold text-shadow mb-4">صفحه فرود خلاقانه</h1>
					<div class="w-75 mb-5 mb-lg-0">
						<p class="text-muted mb-5 pb-5 font-size-17">صفحه فرود خلاقانه و مدرن با الگوی Lezir و ما عاشق ساختن چیزهای شگفت انگیز هستیم.</p>
						<p><span class="font-size-20 me-2">🥳️</span>زیرا هیچ کس خود لذت را رد نمی کند، زیرا این لذت است که فرار می کند.</p>
						<div class="subscribe-form">
							<form action="#">
								<input type="text" placeholder="ایمیل را وارد کنید..."><button type="submit" class="btn btn-primary">اشتراک در</button>
							</form>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-10"><div class=" mt-5 mt-lg-0"><img src="~/images/hero-1-img.png" alt="" class="img-fluid d-block mx-auto"></div></div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-4 align-self-center">
					<div class="mb-4 mb-lg-0">
						<div class="p-2 bg-soft-primary d-inline-block rounded mb-4"><div class="icon-xxl uim-icon-primary"><i class="uim uim-cube"></i></div></div>
						<h3 class="">چرا ما را انتخاب کنید؟</h3>
						<p class="text-muted mb-4">زیرا در اوقات فراغت، زمانی که آزاد هستیم، این اختیار را داریم که هیچ چیزی را انتخاب نکنیم و مانع آن شویم، که کمترین آن بیشترین است.</p>
						<a href="#" class="btn btn-outline-primary">بیشتر بدانید</a>
					</div>
				</div>
				<div class="col-lg-8 align-self-center">
					<div class="row">
						<div class="col-md-6">
							<div class="wc-box rounded text-center wc-box-primary p-4 mt-md-5">
								<div class="wc-box-icon"><i class="mdi mdi-collage"></i></div>
								<h5 class="fw-bold mb-2 wc-title mt-4">آسان برای استفاده</h5>
								<p class="text-muted mb-0 font-size-15 wc-subtitle">لورم اسپیروم تنزل ساکتگی با تورید با تعریف سرامی ناکموس از</p>
							</div>
							<div class="wc-box rounded text-center wc-box-primary p-4">
								<div class="wc-box-icon"><i class="mdi mdi-trending-up"></i></div>
								<h5 class="fw-bold mb-2 wc-title mt-4">درآمد خود را افزایش دهید</h5>
								<p class="text-muted mb-0 font-size-15 wc-subtitle">لورم اسپیروم تنزل ساکتگی با تورید با تعریف سرامی ناکموس از</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="wc-box rounded text-center wc-box-primary p-4">
								<div class="wc-box-icon"><i class="mdi mdi-security"></i></div>
								<h5 class="fw-bold mb-2 wc-title mt-4">امنیت تجزیه و تحلیل</h5>
								<p class="text-muted mb-0 font-size-15 wc-subtitle">لورم اسپیروم تنزل ساکتگی با تورید با تعریف سرامی ناکموس از</p>
							</div>
							<div class="wc-box rounded text-center wc-box-primary p-4">
								<div class="wc-box-icon"><i class="mdi mdi-database-lock"></i></div>
								<h5 class="fw-bold mb-2 wc-title mt-4">حریم خصوصی داده ها</h5>
								<p class="text-muted mb-0 font-size-15 wc-subtitle">لورم اسپیروم تنزل ساکتگی با تورید با تعریف سرامی ناکموس از</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section bg-light feather-bg-img" style="background-image: url(~/images/features-bg-img.png);" id="features">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="text-center mb-5">
						<h3 class="title mb-3">ویژگی های عالی</h3>
						<p class="text-muted font-size-15">و در واقع تمایز این چیزها آسان و مصلحت است، زیرا زمانی که ما وقت آزاد داریم، انتخاب می کنیم که چه چیزی را انتخاب کنیم.</p>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-6 align-self-center"><div class="mb-4 mb-lg-0"><img src="~/images/features-img.png" alt="" class="img-fluid d-block mx-auto"></div></div>
				<div class="col-lg-5 offset-lg-1 align-self-center">
					<p class="font-weight-medium text-uppercase mb-2"><i class="mdi mdi-chart-bubble h2 text-primary me-1 align-middle"></i>ویژگی های خلاقانه</p>
					<h3 class="font-weight-semibold line-height-1_4 mb-4">
						ساختن<b> جامعه </b>&<b> کاری خوب </b>تخصص اصلی ما <b> در توسعه کسب و کار شماست</b>
					</h3>
					<p class="text-muted font-size-15 mb-4">اما در مواقعی، چه به دلیل تکالیف و چه از جهت ضروریات، غالباً این اتفاق می افتد که لذات طرد شده، از این رو، گرفتاری های قابل امتناع نیست.</p>
					<p class="text-muted mb-2"><i class="icon-xs me-1" data-feather="layout"></i>لورم پیسوم متن ساکتگی ب تویدید ساد</p>
					<p class="text-muted"><i class="icon-xs me-1" data-feather="life-buoy"></i>لورم اسپیروم تنزل ساکتگی با تورید با تعریف سرامی ناکموس از</p>
					<div class="mt-5">
						<a href="#" class="btn btn-primary me-2">ادامه مطلب</a><a href="#" class="btn btn-soft-primary">هم اکنون خریداری کنید</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section feather-bg-img" style="background-image: url(~/images/features-bg-img-1.png)">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-5 align-self-center">
					<p class="font-weight-medium text-uppercase mb-2"><i class="mdi mdi-chart-bubble h2 text-primary me-1 align-middle"></i>ویژگی های خلاقانه</p>
					<h3 class="font-weight-semibold line-height-1_4 mb-4">ما کار را برای شما انجام میدهیم<b> متمرکز بمان </b> در <b> در کسب و کارتان </b>.</h3>
					<p class="text-muted font-size-15 mb-4">اما در مواقعی، چه به دلیل تکالیف و چه از جهت ضروریات، غالباً این اتفاق می افتد که لذات طرد شده، از این رو، گرفتاری های قابل امتناع نیست.</p>
					<p class="text-muted mb-2"><i class="icon-xs me-1" data-feather="server"></i>لورم پیسوم متن ساکتگی ب تویدید ساد</p>
					<p class="text-muted"><i class="icon-xs me-1" data-feather="rss"></i>لورم اسپیروم تنزل ساکتگی با تورید با تعریف سرامی ناکموس از</p>
					<div class="mt-5">
						<a href="#" class="btn btn-primary me-2">ادامه مطلب</a><a href="#" class="btn btn-soft-primary">هم اکنون خریداری کنید</a>
					</div>
				</div>
				<div class="col-lg-6 offset-lg-1 align-self-center"><div class="mt-4 mt-lg-0"><img src="~/images/features-img-1.png" alt="" class="img-fluid d-block mx-auto"></div></div>
			</div>
		</div>
	</section>
	<section class="section bg-light" id="pricing">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="text-center mb-5">
						<h3 class="title mb-3">برنامه خود را انتخاب کنید</h3>
						<p class="text-muted font-size-15">و در واقع تمایز این چیزها آسان و مصلحت است، زیرا زمانی که ما وقت آزاد داریم، انتخاب می کنیم که چه چیزی را انتخاب کنیم.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<div class="pricing-box rounded text-center p-4">
						<div class="pricing-icon-bg my-4"><i class="mdi mdi-account h1"></i></div>
						<h4 class="title mb-3">ساده</h4>
						<h1 class="fw-bold mb-0"><b><sup class="h4 me-2 fw-bold">$</sup>19</b></h1>
						<p class="text-muted font-weight-semibold">کاربر / ماه</p>
						<ul class="list-unstyled pricing-item mb-4">
							<li class="text-muted">پهنای باند: 1 گیگابایت</li>
							<li class="text-muted">فضای آنلاین: 500 مگابایت</li>
							<li class="text-muted">پشتیبانی: بله</li>
						</ul>
						<a href="#" class="btn btn-outline-primary pr-btn">هم اکنون خریداری کنید</a><div class="mt-4"><div class="hero-bottom-img"><img src="~/images/pricing-bottom-bg.png" alt="" class="img-fluid d-block mx-auto"></div></div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="pricing-box rounded text-center active p-4">
						<div class="pricing-icon-bg my-4"><i class="mdi mdi-account-multiple h1"></i></div>
						<h4 class="title mb-3">پایه ای</h4>
						<h1 class="fw-bold mb-0"><b><sup class="h4 me-2 fw-bold">$</sup>49</b></h1>
						<p class="text-muted font-weight-semibold">کاربر / ماه</p>
						<ul class="list-unstyled pricing-item mb-4">
							<li class="text-muted">پهنای باند: 2 گیگابایت</li>
							<li class="text-muted">فضای آنلاین: 1 گیگابایت</li>
							<li class="text-muted">پشتیبانی: بله</li>
						</ul>
						<a href="#" class="btn btn-primary pr-btn">هم اکنون خریداری کنید</a><div class="mt-4"><div class="hero-bottom-img"><img src="~/images/pricing-bottom-bg.png" alt="" class="img-fluid d-block mx-auto"></div></div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="pricing-box rounded text-center p-4">
						<div class="pricing-icon-bg my-4"><i class="mdi mdi-account-group h1"></i></div>
						<h4 class="title mb-3">برای</h4>
						<h1 class="fw-bold mb-0"><b><sup class="h4 me-2 fw-bold">$</sup>89</b></h1>
						<p class="text-muted font-weight-semibold">کاربر / ماه</p>
						<ul class="list-unstyled pricing-item mb-4">
							<li class="text-muted">پهنای باند: 3 گیگابایت</li>
							<li class="text-muted">فضای آنلاین: 1.5 گیگابایت</li>
							<li class="text-muted">پشتیبانی: بله</li>
						</ul>
						<a href="#" class="btn btn-outline-primary pr-btn">هم اکنون خریداری کنید</a><div class="mt-4"><div class="hero-bottom-img"><img src="~/images/pricing-bottom-bg.png" alt="" class="img-fluid d-block mx-auto"></div></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section blog" id="blog">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="text-center mb-5">
						<h3 class="title mb-3">آخرین خبرها</h3>
						<p class="text-muted font-size-15">و در واقع تمایز این چیزها آسان و مصلحت است، زیرا زمانی که ما وقت آزاد داریم، انتخاب می کنیم که چه چیزی را انتخاب کنیم.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<div class="blog-box mb-4 mb-lg-0">
						<img src="~/images/blog/img-1.jpg" alt="" class="img-fluid d-block mx-auto rounded"><ul class="list-inline text-muted text-uppercase font-size-15 font-weight-medium mt-3 mb-2">
							<li class="list-inline-item me-3">
								<i class="icon-size-15 icon me-1" data-feather="calendar"></i>10 آوریل 2020
							</li>
							<li class="list-inline-item">
								<i class="icon-size-15 icon me-1" data-feather="user"></i>مدیر
							</li>
						</ul>
						<a href="#" class="fw-bold h5">بهترین مکان برای سفر</a><p class="text-muted font-size-15">لورم اسپیروم تنزل ساکتگی با تورید با تعریف سرامی ناکموس از</p>
						<a href="#" class="text-primary font-weight-semibold">بیشتر بدانید<span class="ms-2 right-icon">→</span></a>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="blog-box blog-box mb-4 mb-lg-0">
						<img src="~/images/blog/img-2.jpg" alt="" class="img-fluid d-block mx-auto rounded"><ul class="list-inline text-muted text-uppercase font-size-15 font-weight-medium mt-3 mb-2">
							<li class="list-inline-item me-3">
								<i class="icon-size-15 icon me-1" data-feather="calendar"></i>11 آوریل 2020
							</li>
							<li class="list-inline-item">
								<i class="icon-size-15 icon me-1" data-feather="user"></i>مدیر
							</li>
						</ul>
						<a href="#" class="fw-bold h5">اتاق جلسه خصوصی</a><p class="text-muted font-size-15">لورم اسپیروم تنزل ساکتگی با تورید با تعریف سرامی ناکموس از</p>
						<a href="#" class="text-primary font-weight-semibold">بیشتر بدانید<span class="ms-2 right-icon">→</span></a>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="blog-box blog-box mb-4 mb-lg-0">
						<img src="~/images/blog/img-3.jpg" alt="" class="img-fluid d-block mx-auto rounded"><ul class="list-inline text-muted text-uppercase font-size-15 font-weight-medium mt-3 mb-2">
							<li class="list-inline-item me-3">
								<i class="icon-size-15 icon me-1" data-feather="calendar"></i>12 آوریل 2020
							</li>
							<li class="list-inline-item">
								<i class="icon-size-15 icon me-1" data-feather="user"></i>مدیر
							</li>
						</ul>
						<a href="#" class="fw-bold h5">بهترین ایده های تجاری</a><p class="text-muted font-size-15">لورم اسپیروم تنزل ساکتگی با تورید با تعریف سرامی ناکموس از</p>
						<a href="#" class="text-primary font-weight-semibold">بیشتر بدانید<span class="ms-2 right-icon">→</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section bg-light" id="contact">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="text-center mb-5">
						<h3 class="title mb-3">با ما تماس بگیرید</h3>
						<p class="text-muted font-size-15">و در واقع تمایز این چیزها آسان و مصلحت است، زیرا زمانی که ما وقت آزاد داریم، انتخاب می کنیم که چه چیزی را انتخاب کنیم.</p>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-7 align-self-center">
					<div class="custom-form mb-5 mb-lg-0">
						<form method="post" name="myForm" onsubmit="return validateForm()">
							<p id="error-msg"></p>
							<div id="simple-msg"></div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="name">نام*</label><input name="name" id="name" type="text" class="form-control" placeholder="اسم شما...">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="email">آدرس ایمیل*</label><input name="email" id="email" type="email" class="form-control" placeholder="ایمیل شما...">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-group">
										<label for="comments">پیام*</label><textarea name="comments" id="comments" rows="4" class="form-control" placeholder="پیغام تو..."></textarea>
									</div>
								</div>
							</div>
							<div class="row"><div class="col-sm-12"><button type="submit" id="submit" name="send" class="btn btn-primary">پیام فرستادن<i class="icon-size-15 ms-2 icon" data-feather="send"></i></button></div></div>
						</form>
					</div>
				</div>
				<div class="col-lg-5 align-self-center">
					<div class="contact-detail text-muted ms-lg-5">
						<p class=""><i class="icon-xs icon me-1" data-feather="mail"></i>:<span>support@website.com</span></p>
						<p class=""><i class="icon-xs icon me-1" data-feather="link"></i>:<span>www.website.com</span></p>
						<p class=""><i class="icon-xs icon me-1" data-feather="phone-call"></i>:<span>(+001) 123 456 7890</span></p>
						<p class=""><i class="icon-xs icon me-1" data-feather="clock"></i>:<span>9:00 AM - 6:00 PM</span></p>
						<p class=""><i class="icon-xs icon me-1" data-feather="map-pin"></i>:<span>1644 Deer Ridge Drive Rochelle Park, NJ 07662</span></p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="footer" style="background-image: url(~/images/footer-bg.png)">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="mb-5">
						<img src="~/images/logo-light.png" alt="" class="" height="24"><p class="text-white-50 my-4 font-size-15">لورم پیسوم متن است چاپگرها در موتون блика روزنا</p>
						<ul class="list-inline footer-social-icon-content">
							<li class="list-inline-item me-4"><a href="#" class="footer-social-icon facebook"><i class="" data-feather="facebook"></i></a></li>
							<li class="list-inline-item me-4"><a href="#" class="footer-social-icon"><i class="" data-feather="twitter"></i></a></li>
							<li class="list-inline-item me-4"><a href="#" class="footer-social-icon"><i class="" data-feather="instagram"></i></a></li>
							<li class="list-inline-item "><a href="#" class="footer-social-icon"><i class="" data-feather="linkedin"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-7 offset-lg-1">
					<div class="row">
						<div class="col-md-4">
							<h6 class="text-white text-uppercase mb-3">درباره ما</h6>
							<ul class="list-unstyled footer-sub-menu">
								<li><a href="#" class="footer-link">آثار</a></li>
								<li><a href="#" class="footer-link">استراتژی</a></li>
								<li><a href="#" class="footer-link">منتشر شده</a></li>
								<li><a href="#" class="footer-link">مطبوعات</a></li>
								<li><a href="#" class="footer-link">ماموریت</a></li>
							</ul>
						</div>
						<div class="col-md-4">
							<h6 class="text-white text-uppercase mb-3">مشتریان</h6>
							<ul class="list-unstyled footer-sub-menu">
								<li><a href="#" class="footer-link">تجارت</a></li>
								<li><a href="#" class="footer-link">محبوب</a></li>
								<li><a href="#" class="footer-link">مشتریان</a></li>
								<li><a href="#" class="footer-link">امکانات</a></li>
							</ul>
						</div>
						<div class="col-md-4">
							<h6 class="text-white text-uppercase mb-3">حمایت کردن</h6>
							<ul class="list-unstyled footer-sub-menu">
								<li><a href="#" class="footer-link">توسعه دهندگان</a></li>
								<li><a href="#" class="footer-link">حمایت کردن</a></li>
								<li><a href="#" class="footer-link">خدمات مشتری</a></li>
								<li><a href="#" class="footer-link">شروع کنید</a></li>
								<li><a href="#" class="footer-link">راهنما</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="footer-alt py-3"><div class="container"><div class="row"><div class="col-lg-12"><div class="text-center"><p class="text-white-50 font-size-15 mb-0"><script>document.write(new Date().getFullYear())</script>© Lezir. Design By <a href="https://www.mellatweb.com">Mellatweb</a></p></div></div></div></div></div>
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content login-page">
				<div class="modal-body">
					<div class="text-center">
						<h3 class="title mb-4">به Lezir خوش آمدید</h3>
						<h4 class="text-uppercase text-primary"><b>وارد شدن</b></h4>
					</div>
					<div class="login-form mt-4">
						<form>
							<div class="form-group">
								<label for="exampleInputEmail1">نام کاربری / ایمیل</label><input type="email" class="form-control" id="exampleInputEmail1" placeholder="Youremail@gmail.com">
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">کلمه عبور</label><input type="password" class="form-control" id="exampleInputPassword1" placeholder="کلمه عبور">
							</div>
							<a href="#" class="float-end text-muted font-size-15">رمز عبور را فراموش کرده اید؟</a><div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="customCheck1"><label class="custom-control-label font-size-15" for="customCheck1">مرا به خاطر بسپار</label>
							</div>
							<div class="text-center mt-4"><button type="submit" class="btn btn-primary">وارد شدن<i class="icon-size-15 icon ms-1" data-feather="arrow-right-circle"></i></button></div>
						</form>
						<div class="position-relative text-center mt-4">
							<span class="login-border"></span><p class="social-login text-muted font-size-17">ورود به سیستم اجتماعی</p>
						</div>
						<div class="text-center">
							<ul class="list-inline mt-2 mb-3">
								<li class="list-inline-item me-3"><a href="#" class="login-social-icon icon-primary"><i class="icon-xs" data-feather="facebook"></i></a></li>
								<li class="list-inline-item me-3"><a href="#" class="login-social-icon icon-info"><i class="icon-xs" data-feather="twitter"></i></a></li>
								<li class="list-inline-item me-3"><a href="#" class="login-social-icon icon-danger"><i class="icon-xs" data-feather="instagram"></i></a></li>
								<li class="list-inline-item"><a href="#" class="login-social-icon icon-success"><i class="icon-xs" data-feather="linkedin"></i></a></li>
							</ul>
							<p class="text-muted mb-0">کاربر جدید؟<a href="#" class="text-primary">ثبت نام</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="exampleModalCenter-1" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content login-page">
				<div class="modal-body">
					<div class="text-center">
						<h3 class="title mb-4">به Lezir خوش آمدید</h3>
						<h4 class="text-uppercase text-primary"><b>ثبت نام</b></h4>
					</div>
					<div class="login-form mt-4">
						<form>
							<div class="form-group">
								<label for="exampleInputUsername">نام کاربری</label><input type="text" class="form-control" id="exampleInputUsername" placeholder="نام را وارد کنید">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail2">پست الکترونیک</label><input type="email" class="form-control" id="exampleInputEmail2" placeholder="Youremail@gmail.com">
							</div>
							<div class="form-group">
								<label for="exampleInputPassword2">کلمه عبور</label><input type="password" class="form-control" id="exampleInputPassword2" placeholder="کلمه عبور">
							</div>
							<a href="#" class="float-end text-muted font-size-15">رمز عبور را فراموش کرده اید؟</a><div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="customCheck2"><label class="custom-control-label font-size-15" for="customCheck2">مرا به خاطر بسپار</label>
							</div>
							<div class="text-center mt-4"><button type="submit" class="btn btn-primary">ثبت نام<i class="icon-size-15 icon ms-1" data-feather="arrow-right-circle"></i></button></div>
						</form>
						<div class="position-relative text-center mt-4">
							<span class="login-border"></span><p class="social-login text-muted font-size-17">ورود به سیستم اجتماعی</p>
						</div>
						<div class="text-center">
							<ul class="list-inline mt-2 mb-3">
								<li class="list-inline-item me-3"><a href="#" class="login-social-icon icon-primary"><i class="icon-xs" data-feather="facebook"></i></a></li>
								<li class="list-inline-item me-3"><a href="#" class="login-social-icon icon-info"><i class="icon-xs" data-feather="twitter"></i></a></li>
								<li class="list-inline-item me-3"><a href="#" class="login-social-icon icon-danger"><i class="icon-xs" data-feather="instagram"></i></a></li>
								<li class="list-inline-item"><a href="#" class="login-social-icon icon-success"><i class="icon-xs" data-feather="linkedin"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="~/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/smooth-scroll.polyfills.min.js"></script>
	<script src="~/js/gumshoe.polyfills.min.js"></script>
	<script src="~/js/feather.js"></script>
	<script src="~/js/unicons.js"></script>
	<script src="~/js/app.js"></script>
</body>
</html>
@RenderBody()